.order-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: inline-block;
  width: 30%;
  margin: 5px 5px 15px 5px;
  margin-bottom: 10px;
}

/* On mouse-over, add a deeper shadow */
.order-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.order-container {
  padding: 2px 8px;
}

.order-box {
  margin-bottom: 10px;
}

.order-value {
  margin: 0px 300px 0px 300px;

  /* width: 50%; */
}
